html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(239, 239, 239);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  z-index: 2;
  background: #222;
  min-width: 380px;
  width: 100%;
  background-image: url("./sinfondo.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

/* ANIMATIONS */

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.titulo {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 65px;
}
h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #222;
}
h1 {
  text-align: center;
  font-size: 7rem;
  text-transform: uppercase;
  background: linear-gradient(to left, #ff9bbc 50%, #f14a6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.date__container {
  position: absolute;
  z-index: 999;
  top: 435px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 1rem 2rem;
  gap: 1rem;
  flex-direction: column;
  margin-top: 6rem;
}
.addres__container {
  background-color: #f14a6c30;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.addres__container p {
  color: #222;
}

h4 {
  color: #222;
  padding: 0.4rem;
  background-color: #ff9bbc99;
  border-radius: 1rem;
}
.map__link {
  color: #a27d21;
  font-size: 1.5rem;
  text-decoration: none;
}
.date__container h2 {
  color: goldenrod;
  font-size: 32px;
}

.map__container {
  display: flex;
  flex-direction: column;
}

.mover__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 14rem;
}
.text {
  line-height: 30px;
  color: #222;
  text-wrap: balance;
  padding: 1rem 2rem;
  font-size: 14px;
  text-align: center;
  max-width: 540px;
  text-transform: uppercase;
}
.dress__container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.agusimg__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agus__img {
  width: 60%;
  margin-top: 3rem;
}
.dress__title {
  display: flex;
  flex-direction: column;
  color: #222;
}
/* ANIMATIONS */

/* leaf animations */

#leaves {
  position: relative;
  z-index: -10;
  top: -50px;
  width: 100%;
  text-align: right;
}

section {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("./fondocerezos.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
section .set div {
  position: absolute;
  display: block;
}
section .set div:nth-child(1) {
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}
.set img {
  width: 10%;
  height: 10%;
}
section .set div:nth-child(2) {
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}
section .set div:nth-child(3) {
  left: 70%;
  animation: animate 20s linear infinite;
  animation-delay: 0s;
}
section .set div:nth-child(4) {
  left: 0%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}
section .set div:nth-child(5) {
  left: 85%;
  animation: animate 18s linear infinite;
  animation-delay: -10s;
}
section .set div:nth-child(6) {
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}
section .set div:nth-child(7) {
  left: 0%;
  animation: animate 12s linear infinite;
}
section .set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}
.set2 {
  transform: scale(0.1) rotateY(180deg);
  filter: blur(2px);
}
.set3 {
  transform: scale(0.2) rotateX(180deg);
  filter: blur(4px);
}
/* ************************* */
